* {
    margin: 0;
    padding: 0;
    box-sizing: 0s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3faff;
}

header {
    background-color: #c1ccca;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.inputForm {
    margin: 100px 0;
    text-align: center;
}

.inputVal {
    height: 60px;
    width: 600px;
    background-color: #eeeeee;
    font-size: 20px;
    border: 1px solid #c1ccca;
    border-radius: 5px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.submitBtn {
    height: 60px;
    width: 100px;
    background-color: #c1ccca;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.submitBtn:hover {
    background-color: #aebcc4;
    border: 1px solid #c1ccca;
}

h2 {
    text-align: center;
    color: white;
    background-color: #aebcc4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.display {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    /*height: 100px;
    width: 100px;*/
    text-align: center;
    background-color: #c1ccca;
    color: white;
    font-weight: bold;
}